<!doctype html>
<html>
<head>
    <title>GalahadXVI</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />
    <link href="/css/app.css?v=1.1" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="Software engineer and founder of Galahad Creative, a software and game development studio." />
    <meta property="og:image" content="https://www.galahadsixteen.com/og-image.jpg" />
    <meta property="twitter:image" content="https://www.galahadsixteen.com/og-image.jpg" />
    <meta property="twitter:url" content="https://www.galahadsixteen.com/og-image.jpg" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="og:title" content="GalahadXVI" />
    <meta property="twitter:title" content="GalahadXVI" />
    <script defer src="/js/alpine-3.13.3.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
</head>

<body class="bg-zinc-900 text-white" x-data>
    <header class="pointer-events-none relative z-50 flex flex-none flex-col">
        <div class="top-0 z-10 h-16 pt-6">
            <div class="sm:px-8 w-full">
                <div class="mx-auto w-full max-w-7xl lg:px-8">
                    <div class="relative px-4 sm:px-8 lg:px-12">
                        <div class="mx-auto max-w-2xl lg:max-w-5xl">
                            <div class="relative flex gap-4">
                                <div class="flex flex-1 justify-center">
                                    <nav class="pointer-events-auto block">
                                        <ul
                                            class="flex rounded-full px-3 text-sm font-medium shadow-lg shadow-zinc-800/5 backdrop-blur bg-zinc-800/90 text-zinc-200 ring-white/10">
                                            <li>
                                                <a 
                                                :class="{
                                                    'hover:text-teal-400' : location.pathname != '/',
                                                    'text-teal-500' : location.pathname == '/',
                                                }"
                                                class="relative block px-3 py-2 transition" href="/">
                                                    Home
                                                    <span x-show="location.pathname == '/'" class="absolute inset-x-1 -bottom-px h-px bg-gradient-to-r from-teal-400/0 via-teal-400/40 to-teal-400/0"></span>
                                                </a>
                                            </li>
                                            <li><a class="relative block px-3 py-2 transition"
                                                    :class="{
                                                        'hover:text-teal-400' : !window.location.href.includes('blog'),
                                                        'text-teal-500' : window.location.href.includes('blog'),
                                                    }"
                                                    href="/blog">
                                                    Blog
                                                    <span x-show="window.location.href.includes('blog')" class="absolute inset-x-1 -bottom-px h-px bg-gradient-to-r from-teal-400/0 via-teal-400/40 to-teal-400/0"></span>
                                                </a>
                                            </li>
                                            <li><a class="relative block px-3 py-2 transition"
                                                :class="{
                                                    'hover:text-teal-400' : !window.location.href.includes('about'),
                                                    'text-teal-500' : window.location.href.includes('about'),
                                                }"
                                                href="/about">
                                                About
                                                <span x-show="window.location.href.includes('about')" class="absolute inset-x-1 -bottom-px h-px bg-gradient-to-r from-teal-400/0 via-teal-400/40 to-teal-400/0"></span>
                                            </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div>
        <div class="mx-auto max-w-2xl lg:max-w-2xl mt-12 px-4 pb-8">
            <div id="page-content"></div>
            <div class="prose prose-invert" id="markdown-content"></div>
        </div>
    </div>

</body>
<!-- Fathom - beautiful, simple website analytics -->
<script src="https://cdn.usefathom.com/script.js" data-site="QJPKXCTE" defer></script>
<!-- / Fathom -->
</html>